{:hybridrag.db.index-conn/index-conn
 {:dir #profile {:default "data/index.dtlv"
                 :test "data-test/index.dtlv"}}

 :hybridrag.db.app-conn/app-conn
 {:dir #profile {:default "data/app.dtlv"
                 :test "data-test/app.dtlv"}}

 :hybridrag.server/server
 {:options {:port #profile {:default 8000
                            :prod 80
                            :test #free-port true}
            :session-secret-key #profile {:default "test-secret-key"
                                          :prod #env SESSION_SECRET_KEY}
            :auto-reload? #profile {:default false
                                    :dev true}
            :cache-assets? #profile {:default false
                                     :prod true}}
  :index-conn #ig/ref :hybridrag.db.index-conn/index-conn
  :app-conn #ig/ref :hybridrag.db.app-conn/app-conn}}
